<div class="bg-gray-100 rounded-lg my-4">
        <div class="flex p-4 text-gray-600">
            <div class="pr-4">
                <%= name %>
            </div>
            <div>
                <%= time %>
            </div>
        </div>
        <p class="p-4 font-bold">
            <%= value %>
        </p>
</div>
