<div class="mx-auto max-w-xl my-4">
    <%= render partial: "tweet", locals: { name: 'teppei', value:'helloworld', time:'43分前' } %>
    <%= render partial: "tweet", locals: { name: 'Tarou', value:'ponpoko', time:'1時間前' } %>

</div>